button{
    width: 250px;
    height: 80px;
    font-size: 35px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border: 2px solid white;
    margin: 5px;
    cursor: pointer;

}
button:hover{
    background-color: #00471b;
}

.boton-clic{
    background-color: #002EAD;
}
.boton-reiniciar{
    background-color: #5A01A7;
}